.image {
    width: 180px;
    height: 240px;
}

.card {
    width: 200px;
    height: 420px;
    box-shadow: 1px 4px 3px rgb(183, 35, 35);
    border-radius: 10px;
    margin: 15px;
}

.card-detail {
    text-align: center;

}

.card:hover {

    box-shadow: 1px 4px 3px rgb(35, 6, 6);
    transition: all 0.9s;
    cursor: pointer;

}

.detail-button {
    border: none;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(4, 41, 41);
    color: aliceblue;
}

.detail-button:hover {

    background-color: rgb(10, 116, 116);
    transition: all 0.6s;
    cursor: pointer;

}