.App{
  margin: 0;
  padding: 0;
  width: 100%;
}
.todo-create{

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  padding: 10px 0px;
  margin-left: 10px;
  margin-right: 3px;
  width: 500px;

}
.app-todo{
  width: '500px';
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  
}
.todo-input{
  width: 100%;
  padding: 10px 0px 0px;
  border-bottom: 1px solid lightgray;
  outline: none;
}
.todo-button{
  margin-top: 10px;
  padding: 3px 7px;
  border: 1px solid green;
  border-radius: 5px;
  font-weight: bold;
  background-color: gold;
  cursor: pointer;
}
.todo-icons{
  font-size: 25px;
  margin-right: 7px;
  cursor: pointer;
}
.break-text {
  word-wrap: break-word;  /* Uzun kelimeleri kırar ve yeni satıra geçirir */
  word-break: break-all;  /* Herhangi bir yerde kelimeleri kırar */
}
